<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoccerStats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6CB813A1C9E4F02000BAA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6CB81501C9E4F02000BAA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6CB815B1C9E4F02000BAA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
